# {{ ansible_managed }}
# Redis local configuration file

################################## GENERAL ####################################

{% if redis_daemonize is defined and redis_daemonize is not none %}
daemonize {{ redis_daemonize }}
{% endif %}

{% if redis_pidfile is defined and redis_pidfile is not none %}
pidfile {{ redis_pidfile }}
{% endif %}

{% if redis_port is defined and redis_port is not none %}
port {{ redis_port }}
{% endif %}

{% if redis_bind %}
bind {{ redis_bind|join(' ') }}
{% endif %}

{% if redis_use_socket == true %}
unixsocket {{ redis_unixsocket }}
unixsocketperm {{ redis_unixsocketperm }}
{% endif %}

{% if redis_timeout is defined and redis_timeout is not none %}
timeout {{ redis_timeout }}
{% endif %}

{% if redis_tcp_keepalive is defined and redis_tcp_keepalive is not none %}
tcp-keepalive {{ redis_tcp_keepalive }}
{% endif %}

{% if redis_loglevel is defined and redis_loglevel is not none %}
loglevel {{ redis_loglevel }}
{% endif %}

{% if redis_logfile is defined and redis_logfile is not none %}
logfile {{ redis_logfile }}
{% endif %}

{% if redis_syslog_enabled is defined and redis_syslog_enabled is not none %}
syslog-enabled {{ redis_syslog_enabled }}
{% if redis_syslog_ident is defined and redis_syslog_ident is not none %}
syslog-ident {{ redis_syslog_ident }}
{% endif %}
{% if redis_syslog_facility is defined and redis_syslog_facility is not none %}
syslog-facility {{ redis_syslog_facility }}
{% endif %}
{% endif %}

{% if redis_databases is defined and redis_databases is not none %}
databases {{ redis_databases }}
{% endif %}

################################ SNAPSHOTTING  ################################

{% if redis_save_points is defined and redis_save_points is not none %}
{% for item in redis_save_points %}
save {{ item }}
{% endfor %}
{% endif %}

{% if redis_stop_writes_on_bgsave_error is defined and redis_stop_writes_on_bgsave_error is not none %}
stop-writes-on-bgsave-error {{ redis_stop_writes_on_bgsave_error }}
{% endif %}

{% if redis_rdbcompression is defined and redis_rdbcompression is not none %}
rdbcompression {{ redis_rdbcompression }}
{% endif %}

{% if redis_rdbchecksum is defined and redis_rdbchecksum is not none %}
rdbchecksum {{ redis_rdbchecksum }}
{% endif %}

{% if redis_dbfilename is defined and redis_dbfilename is not none %}
dbfilename {{ redis_dbfilename }}
{% endif %}

{% if redis_dir is defined and redis_dir is not none %}
dir {{ redis_dir }}
{% endif %}

{% if redis_role is defined and redis_role == 'slave' %}
################################# REPLICATION #################################

{% if redis_slaveof is defined and redis_slaveof is not none %}
slaveof {{ redis_slaveof }}
{% endif %}

{% if redis_masterauth is defined and redis_masterauth is not none %}
masterauth {{ redis_masterauth }}
{% endif %}

{% if redis_slave_serve_stale_data is defined and redis_slave_serve_stale_data is not none %}
slave-serve-stale-data {{ redis_slave_serve_stale_data }}
{% endif %}

{% if redis_slave_read_only is defined and redis_slave_read_only is not none %}
slave-read-only {{ redis_slave_read_only }}
{% endif %}

{% if redis_repl_ping_slave_period is defined and redis_repl_ping_slave_period is not none %}
repl-ping-slave-period {{ redis_repl_ping_slave_period }}
{% endif %}

{% if redis_repl_timeout is defined and redis_repl_timeout is not none %}
repl-timeout {{ redis_repl_timeout }}
{% endif %}

{% if redis_repl_disable_tcp_nodelay is defined and redis_repl_disable_tcp_nodelay is not none %}
repl-disable-tcp-nodelay {{ redis_repl_disable_tcp_nodelay }}
{% endif %}

{% if redis_repl_backlog_size is defined and redis_repl_backlog_size is not none %}
repl-backlog-size {{ redis_repl_backlog_size }}
{% endif %}

{% if redis_repl_backlog_ttl is defined and redis_repl_backlog_ttl is not none %}
repl-backlog-ttl {{ redis_repl_backlog_ttl }}
{% endif %}

{% if redis_slave_priority is defined and redis_slave_priority is not none %}
slave-priority {{ redis_slave_priority }}
{% endif %}

{% if redis_min_slaves_to_write is defined and redis_min_slaves_to_write is not none %}
min-slaves-to-write {{ redis_min_slaves_to_write }}
{% endif %}

{% if redis_min_slaves_max_lag is defined and redis_min_slaves_max_lag is not none %}
min-slaves-max-lag {{ redis_min_slaves_max_lag }}
{% endif %}

{% endif %}
################################## SECURITY ###################################

{% if redis_requirepass is defined and redis_requirepass is not none %}
requirepass {{ redis_requirepass }}
{% endif %}

{% if redis_rename_command is defined and redis_rename_command is not none %}
{% for item in redis_rename_command %}
rename-command {{ item }}
{% endfor %}
{% endif %}

################################### LIMITS ####################################

{% if redis_maxclients is defined and redis_maxclients is not none %}
maxclients {{ redis_maxclients }}
{% endif %}

{% if redis_maxmemory is defined and redis_maxmemory is not none %}
maxmemory {{ redis_maxmemory }}
{% endif %}

{% if redis_maxmemory_policy is defined and redis_maxmemory_policy is not none %}
maxmemory-policy {{ redis_maxmemory_policy }}
{% endif %}

{% if redis_maxmemory_samples is defined and redis_maxmemory_samples is not none %}
maxmemory-samples {{ redis_maxmemory_samples }}
{% endif %}

############################## APPEND ONLY MODE ###############################

{% if redis_appendonly is defined and redis_appendonly is not none %}
appendonly {{ redis_appendonly }}
{% endif %}

{% if redis_appendfilename is defined and redis_appendfilename is not none %}
appendfilename {{ redis_appendfilename }}
{% endif %}

{% if redis_appendfsync is defined and redis_appendfsync is not none %}
appendfsync {{ redis_appendfsync }}
{% endif %}

{% if redis_no_appendfsync_on_rewrite is defined and redis_no_appendfsync_on_rewrite is not none %}
no-appendfsync-on-rewrite {{ redis_no_appendfsync_on_rewrite }}
{% endif %}

{% if redis_auto_aof_rewrite_percentage is defined and redis_auto_aof_rewrite_percentage is not none %}
auto-aof-rewrite-percentage {{ redis_auto_aof_rewrite_percentage }}
{% endif %}

{% if redis_auto_aof_rewrite_min_size is defined and redis_auto_aof_rewrite_min_size is not none %}
auto-aof-rewrite-min-size {{ redis_auto_aof_rewrite_min_size }}
{% endif %}

################################ LUA SCRIPTING  ###############################

{% if redis_lua_time_limit is defined and redis_lua_time_limit is not none %}
lua-time-limit {{ redis_lua_time_limit }}
{% endif %}

################################## SLOW LOG ###################################

{% if redis_slowlog_log_slower_than is defined and redis_slowlog_log_slower_than is not none %}
slowlog-log-slower-than {{ redis_slowlog_log_slower_than }}
{% endif %}

{% if redis_slowlog_max_len is defined and redis_slowlog_max_len is not none %}
slowlog-max-len {{ redis_slowlog_max_len }}
{% endif %}

############################# Event notification ##############################

{% if redis_notify_keyspace_events is defined and redis_notify_keyspace_events is not none %}
notify-keyspace-events {{ redis_notify_keyspace_events }}
{% endif %}

############################### ADVANCED CONFIG ###############################

{% if redis_hash_max_ziplist_entries is defined and redis_hash_max_ziplist_entries is not none %}
hash-max-ziplist-entries {{ redis_hash_max_ziplist_entries }}
{% endif %}

{% if redis_hash_max_ziplist_value is defined and redis_hash_max_ziplist_value is not none %}
hash-max-ziplist-value {{ redis_hash_max_ziplist_value }}
{% endif %}

{% if redis_list_max_ziplist_entries is defined and redis_list_max_ziplist_entries is not none %}
list-max-ziplist-entries {{ redis_list_max_ziplist_entries }}
{% endif %}

{% if redis_list_max_ziplist_value is defined and redis_list_max_ziplist_value is not none %}
list-max-ziplist-value {{ redis_list_max_ziplist_value }}
{% endif %}

{% if redis_set_max_intset_entries is defined and redis_set_max_intset_entries is not none %}
set-max-intset-entries {{ redis_set_max_intset_entries }}
{% endif %}

{% if redis_zset_max_ziplist_entries is defined and redis_zset_max_ziplist_entries is not none %}
zset-max-ziplist-entries {{ redis_zset_max_ziplist_entries }}
{% endif %}

{% if redis_zset_max_ziplist_value is defined and redis_zset_max_ziplist_value is not none %}
zset-max-ziplist-value {{ redis_zset_max_ziplist_value }}
{% endif %}

{% if redis_activerehashing is defined and redis_activerehashing is not none %}
activerehashing {{ redis_activerehashing }}
{% endif %}

{% if redis_client_output_buffer_limit is defined and redis_client_output_buffer_limit is not none %}
{% for item in redis_client_output_buffer_limit %}
client-output-buffer-limit {{ item }}
{% endfor %}
{% endif %}

{% if redis_hz is defined and redis_hz is not none %}
hz {{ redis_hz }}
{% endif %}

{% if redis_aof_rewrite_incremental_fsync is defined and redis_aof_rewrite_incremental_fsync is not none %}
aof-rewrite-incremental-fsync {{ redis_aof_rewrite_incremental_fsync }}
{% endif %}
